[submodule "pyUtils/sbms"]
	path = pyUtils/sbms
	url = https://github.com/YcSoku/self-bootstrapping-model-service.git
[submodule "pyUtils/grid"]
	path = pyUtils/grid
	url = https://github.com/Liquordynamic/nh-grid-helper.git
