.pannel {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 200px;
    width: 200px;
    /* background-color: rgba(206, 206, 206, 0.9); */
    background-color: rgb(55, 55, 55);
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    user-select: none;
    z-index: 2;
    color: aliceblue
}

.pannel-title {
    position: relative;
    height: 35px;
    width: 200px;
    background-color: rgb(27, 27, 27);
    color: rgb(240, 240, 240);
}

.pannel-content {
    position: relative;
    height: 165px;
    width: 200px;
}

.tool-container {
    position: relative;
    height: 55px;
    width: 200px;
    /* background-color: yellow; */
}

.tool-title {
    position: relative;
    height: 55px;
    width: 60px;
}

.tool-content {
    position: relative;
    height: 55px;
    width: 140px;
    justify-content: space-evenly;
    align-items: center;
}

.tool-item {
    position: relative;
    width: 33px;
    height: 33px;
    background-color: rgb(255, 255, 255);
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.tool-item[data-active="true"] {
    background-color: rgb(127, 190, 226);
}

div#brush {
    background-image: url("/icon/tool_brush.png");
}

div#box {
    background-image: url("/icon/tool_box.png");
}

.editor-container {
    position: relative;
    height: 110px;
    width: 200px;
}

.editor-title {
    position: relative;
    height: 110px;
    width: 60px;
}

.editor-content {
    position: relative;
    height: 110px;
    width: 140px;
    justify-content: space-evenly;
    align-items: center;
}

.editor-item {
    position: relative;
    height: auto;
    width: 130px;
    background-color: rgb(122, 122, 122);
    border-radius: 5px;
    cursor: pointer;
}

.editor-item[data-active="true"] {
    background-color: rgb(34, 99, 136);
}

.sub-item {
    height: 20px;
    line-height: 20px;
    background-color: rgb(139, 139, 139);
    border-radius: 5px;
}

.sub-item[data-active="true"] {
    background-color: rgb(127, 190, 226);
    color: black;
}


.f-row {
    display: flex;
    flex-direction: row;
}

.f-col {
    display: flex;
    flex-direction: column;
}

.f-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-even {
    justify-content: space-evenly;
    align-items: center;
}

.f0 {
    font-size: 0.8rem;
}

.f1 {
    font-size: 0.9rem;
}

.f2 {
    font-size: 1.1rem;
}

.f3 {
    font-size: 1.15rem;
}

.pic {
    background-repeat: no-repeat;
    background-size: 78%;
    background-position: center;
}

.p10_5 {
    padding: 10px 5px;
}

.p0_0_1_0 {
    padding: 0px 0px 1px 0px;
}

.p0_0_5_0 {
    padding: 0px 0px 5px 0px;
}

.p5_0 {
    padding: 5px 0px;
}

.p0_5 {
    padding: 0px 8px;
}